@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chewy&family=Fira+Code:wght@300..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --shimmer-speed: 1.25s;
  --shimmer-animation-iteration: infinite;
  --scale-initial: 0.965;
  --scale-speed: 0.3s;
}

.dark {
  --text-color: #e5e7eb;
  --shimmer-bg-color: rgb(17 24 39);
  --shimmer-color: rgb(55 65 81);
  --primary-body-color: hsl(223, 71%, 8%);
  --secondary-body-color: hsl(223, 70%, 4%);
  --body-darker-color: hsl(224, 71%, 3.5%);
  --accent: #14ffec;
  --accent-dim: #2dd4bf;
  --selection: rgba(20, 255, 236, 0.25);
  --invert-color: white;
  --skill-bg-outline: #166a5f;
}

.light {
  --text-color: #000000;
  --shimmer-bg-color: hsl(216, 12%, 84%);
  --shimmer-color: hsl(218, 11%, 65%);
  --primary-body-color: hsl(0, 0%, 95%);
  --secondary-body-color: hsl(0, 0%, 93%);
  --body-darker-color: hsl(0, 0%, 90%);
  --accent: #dc2626;
  --accent-dim: #991b1b;
  --selection: rgba(220, 38, 38, 0.25);
  --invert-color: black;
  --skill-bg-outline: rgb(215, 215, 215);
}

:where(:not(.dark)) input:-webkit-autofill,
:where(:not(.dark)) input:-webkit-autofill:hover,
:where(:not(.dark)) input:-webkit-autofill:focus,
:where(:not(.dark)) input:-webkit-autofill:active,
:where(:not(.dark)) textarea:-webkit-autofill,
:where(:not(.dark)) textarea:-webkit-autofill:hover,
:where(:not(.dark)) textarea:-webkit-autofill:focus,
:where(:not(.dark)) textarea:-webkit-autofill:active,
:where(:not(.dark)) select:-webkit-autofill,
:where(:not(.dark)) select:-webkit-autofill:hover,
:where(:not(.dark)) select:-webkit-autofill:focus,
:where(:not(.dark)) select:-webkit-autofill:active,
:where(:not(.dark)) input:-internal-autofill-selected,
:where(:not(.dark)) input:-internal-autofill-previewed {
  box-shadow: 0 0 0 30px oklch(92.8% 0.006 264.531deg) inset !important;
  -webkit-text-fill-color: black !important;
  color: black !important;
  caret-color: rgb(229, 231, 235) !important;
}

.dark input:-webkit-autofill,
.dark input:-webkit-autofill:hover,
.dark input:-webkit-autofill:focus,
.dark input:-webkit-autofill:active,
.dark textarea:-webkit-autofill,
.dark textarea:-webkit-autofill:hover,
.dark textarea:-webkit-autofill:focus,
.dark textarea:-webkit-autofill:active,
.dark select:-webkit-autofill,
.dark select:-webkit-autofill:hover,
.dark select:-webkit-autofill:focus,
.dark select:-webkit-autofill:active,
.dark input:-internal-autofill-selected,
.dark input:-internal-autofill-previewed {
  box-shadow: 0 0 0 30px rgb(16, 24, 40) inset !important;
  -webkit-text-fill-color: rgb(229, 231, 235) !important;
  color: rgb(229, 231, 235) !important;
  caret-color: rgb(229, 231, 235) !important;
}

::-moz-selection {
  background: var(--selection);
}

::selection {
  background: var(--selection);
}

*,
*:before,
*:after {
  font-family: Calibre, "Poppins", system-ui, sans-serif;
  box-sizing: border-box;
  --cursor-scale: 1;
}

.fira-code,
.fira-code > * {
  font-family: "Fira Code", system-ui, sans-serif;
}

h1 {
  font-size: 12rem;
}

h2 {
  font-size: 10rem;
}

h3 {
  font-size: 8rem;
}

h4 {
  font-size: 6rem;
}

h5 {
  font-size: 4rem;
}

h6 {
  font-size: 2rem;
}

.interactable:hover {
  --cursor-scale: 10;
}

html {
  width: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  /* scrollbar styles */
}
body::-webkit-scrollbar {
  width: 6.5px;
}
body::-webkit-scrollbar-track {
  background: oklch(13% 0.028 261.692deg);
  border-radius: 10px;
}
body::-webkit-scrollbar-thumb {
  background-color: hsl(223, 30%, 20%);
  border-radius: 10px;
}

html,
body {
  overflow-x: hidden;
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch; /* smoother on iOS */
  min-height: 100%;
  overflow-x: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-attachment: scroll;
  background-color: var(--primary-body-color);
  background: radial-gradient(at right top, var(--primary-body-color), var(--secondary-body-color));
}

.text-shadow {
  text-shadow: 0 0 50px rgb(0, 0, 0);
}

.top-header {
  top: 0;
  min-height: 100px;
  max-height: 100px;
  transition: top 0.2s ease-out;
}
.top-header.inactive {
  top: -90px;
}
.top-header > .header-content {
  min-height: 97px;
  max-height: 97px;
}
.top-header.closed::after {
  content: "";
  width: 100%;
  height: 3px;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--accent-dim);
  transform-origin: left;
  scale: 0 1;
  animation: scrollWatcher linear;
  animation-timeline: scroll();
}

.btn-slide-hover::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--invert-color);
  z-index: -1;
  transform: translateX(-100%);
  transition: transform 0.15s ease-out;
}

.btn-slide-hover:hover::before {
  transform: translateX(0%);
}

svg {
  display: block;
  max-width: 100%;
  height: auto;
}

.clamp-text.ct-name {
  font-size: clamp(2.8rem, -0.475rem + 8.333vw, 6rem);
}
.clamp-text.ct-role {
  font-size: clamp(1.6rem, -1.5rem + 8.333vw, 3.5rem);
}
.clamp-text.ct-text {
  font-size: clamp(0.95rem, -2rem + 5.333vw, 1.2rem);
}

.preserve-3d {
  transform-style: preserve-3d;
}

.project-banner {
  width: 600px;
}

.tint::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--accent);
  opacity: 0.035;
}

.accent-outline {
  position: relative;
}
.accent-outline::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: -20px;
  left: -20px;
  right: 0;
  bottom: 0;
  z-index: -5;
  border-radius: inherit;
  border-width: 2px;
  border-color: var(--accent);
}
.accent-outline.reverse-x::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: -20px;
  left: 20px;
  right: 0;
  bottom: 0;
  z-index: -5;
  border-radius: inherit;
  border-width: 2px;
  border-color: var(--accent);
}
.accent-outline.reverse-y::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 20px;
  left: -20px;
  right: 0;
  bottom: 0;
  z-index: -5;
  border-radius: inherit;
  border-width: 2px;
  border-color: var(--accent);
}
.accent-outline.reverse-x.reverse-y::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 20px;
  left: 20px;
  right: 0;
  bottom: 0;
  z-index: -5;
  border-radius: inherit;
  border-width: 2px;
  border-color: var(--accent);
}

.icon-btn {
  opacity: 1;
  transform: scale(1);
  transition: all 0.3s ease;
}
.icon-btn.default {
  width: 24px;
}
.icon-btn.inactive {
  opacity: 0;
  transform: scale(0);
}

.social-line {
  width: 1px;
  height: 40px;
  transition: height 0.3s ease;
}
.social-line.inactive {
  height: 0px;
}
.social-arrow {
  transition: transform 0.3s ease;
}
.social-arrow.inactive {
  transform: rotateZ(180deg);
}

.back-to-top-btn {
  color: #d9d9d9;
}
.back-to-top-btn.inactive {
  transform: translateY(100%);
  bottom: 0;
}

.scroll-wrapper {
  scroll-snap-type: y mandatory;
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #434e64;
  border-radius: 8px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
  box-shadow: none;
}
::-webkit-scrollbar-button, ::-webkit-scrollbar-corner {
  display: none;
}

.skill-icon {
  transition: opacity 0.3s ease;
}
.skill-icon.defocus {
  opacity: 0.5;
  filter: blur(1px);
}
.skill-label {
  transition: all 0.15s ease;
}
.skill-label.inactive {
  transform: translateY(-85%) scale(0.5);
  opacity: 0;
}
.skill-bg {
  position: relative;
  flex-basis: 100%;
  background-color: var(--body-darker-color);
  border-radius: 4px;
  transition: all 0.35s ease;
}
.skill-bg:hover {
  box-shadow: 0 0 4rem rgba(22, 106, 95, 0.05);
}
.skill-bg::before {
  content: "";
  width: auto;
  height: auto;
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: 0;
  content: "";
  background: linear-gradient(0deg, transparent, var(--skill-bg-outline));
  z-index: -1;
  border-radius: 4px;
}

.navigation-btn {
  position: relative;
}
.navigation-btn::before {
  content: "";
  width: 5px;
  height: 5px;
  position: absolute;
  top: -50%;
  left: calc(50% - 2.5px);
  right: auto;
  bottom: auto;
  background-color: var(--accent-dim);
  border-radius: 100%;
  opacity: 0;
  z-index: -1;
  transition: all 0.3s ease;
}
.navigation-btn.active::before {
  top: 100%;
  opacity: 1;
}

.body-darker-color {
  background-color: var(--body-darker-color);
}

.rounded-inherit {
  border-radius: inherit;
}

.slideshow {
  transition: transform 0.15s ease-out 0s;
}
.slideshow.shimmer {
  --shimmer-bg-color: transparent;
  --shimmer-speed: 0.65s;
  --shimmer-color: rgba(255, 255, 255, 0.05);
  --shimmer-animation-iteration: forwards;
}

.shimmer {
  position: relative;
  transition: opacity 0.5s ease;
  overflow: hidden;
}
.shimmer.inactive::after {
  opacity: 0;
}
.shimmer::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: shimmerEffect var(--shimmer-speed) var(--shimmer-animation-iteration) ease;
  z-index: 2;
  background: linear-gradient(to right, var(--shimmer-bg-color) 8%, var(--shimmer-color) 20%, var(--shimmer-bg-color) 33%);
  background-size: 200%;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  overflow: hidden;
}

.hide-scrollbar {
  scrollbar-width: none;
}

/*    MENU BUTTON :: START    */
.menu-btn {
  width: 20px;
  height: 20px;
  --offset: calc(20px / 2 - 2px / 2);
}
.menu-btn .menu-line-top {
  width: 20px;
  height: 2px;
  background-color: var(--accent);
  border-radius: 16px;
  transition: all 0.3s ease;
}
.menu-btn .menu-line-middle {
  width: 20px;
  height: 2px;
  background-color: var(--accent);
  border-radius: 16px;
  transition: all 0.3s ease;
}
.menu-btn .menu-line-bottom {
  width: 20px;
  height: 2px;
  background-color: var(--accent);
  border-radius: 16px;
  transition: all 0.3s ease;
}
.menu-btn.list {
  width: 20px;
  height: 20px;
  --offset: calc(20px / 2 - 2px / 2);
}
.menu-btn.list .menu-line-top {
  width: 14px;
  height: 2px;
  background-color: var(--accent);
  border-radius: 16px;
  transition: all 0.3s ease;
}
.menu-btn.list .menu-line-middle {
  width: 20px;
  height: 2px;
  background-color: var(--accent);
  border-radius: 16px;
  transition: all 0.3s ease;
}
.menu-btn.list .menu-line-bottom {
  width: 16px;
  height: 2px;
  background-color: var(--accent);
  border-radius: 16px;
  transition: all 0.3s ease;
}
.menu-btn-big {
  width: 30px;
  height: 30px;
  --offset: calc(30px / 2 - 3px / 2);
}
.menu-btn-big .menu-line-top {
  width: 30px;
  height: 3px;
  background-color: var(--accent);
  border-radius: 16px;
  transition: all 0.3s ease;
}
.menu-btn-big .menu-line-middle {
  width: 30px;
  height: 3px;
  background-color: var(--accent);
  border-radius: 16px;
  transition: all 0.3s ease;
}
.menu-btn-big .menu-line-bottom {
  width: 30px;
  height: 3px;
  background-color: var(--accent);
  border-radius: 16px;
  transition: all 0.3s ease;
}
.menu-btn.close .menu-line-top {
  transform: translateY(var(--offset)) rotateZ(45deg);
}
.menu-btn.close .menu-line-middle {
  opacity: 0;
}
.menu-btn.close .menu-line-bottom {
  transform: translateY(calc(-1 * var(--offset))) rotateZ(-45deg);
}

input {
  outline: 0;
}
input :hover {
  outline-width: 1px;
}
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: var(--text-color) !important;
  box-shadow: 0 0 0px 1000px var(--body-darker-color) inset;
  letter-spacing: 0.1em;
}

/*    MENU BUTTON :: END    */
/*    SCROLL DOWN INDICATOR :: START    */
#scroll-down-indicator {
  --indicator-height: 100%;
}
#scroll-down-indicator > .dot {
  animation: scroll-down-indicator-dot 1.25s infinite ease;
}
#scroll-down-indicator > .line {
  width: 2px;
  animation: scroll-down-indicator-line 1.25s infinite ease;
}

@keyframes scroll-down-indicator-dot {
  0% {
    transform: translateY(0) scale(0.85);
  }
  25% {
    transform: translateY(0);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(var(--indicator-height)) scale(0.5);
    opacity: 0;
  }
}
@keyframes scroll-down-indicator-line {
  25% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
/*    SCROLL DOWN INDICATOR :: END    */
/*    ANIMATIONS :: START    */
@keyframes revealUp {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes revealDown {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.reveal {
  opacity: 0; /* Start state */
  transform: translateY(50px); /* Default starting position, adjust if needed */
}

.reveal-up {
  animation: revealUp 0.5s forwards ease;
}

.reveal-down {
  animation: revealDown 0.5s forwards ease;
}

@keyframes scrollWatcher {
  to {
    scale: 1 1;
  }
}
@keyframes shimmerEffect {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}
@keyframes scaleIn {
  0% {
    transform: scale(var(--scale-initial));
  }
  100% {
    transform: scale(1);
  }
}
.fade-in {
  opacity: 0;
  animation: fadein 0.3s forwards ease;
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0) translateY(0);
  }
}

.instant-fade-in {
  opacity: 0;
  animation: fadein 0s forwards ease;
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0) translateY(0);
  }
}

.fade-out {
  opacity: 0;
  animation: fadeout 0.3s forwards ease;
}
@keyframes fadeout {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0) translateY(0);
  }
}

.instant-fade-out {
  opacity: 1;
  animation: fadeout 0s forwards ease;
}
@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateX(0) translateY(0);
  }
}

.fade-up {
  opacity: 0;
  animation: fadeup 0.3s forwards ease;
}
@keyframes fadeup {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0) translateY(0);
  }
}

.fade-down {
  opacity: 0;
  animation: fadedown 0.3s forwards ease;
}
@keyframes fadedown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0) translateY(0);
  }
}

.fade-right {
  opacity: 0;
  animation: faderight 0.3s forwards ease;
}
@keyframes faderight {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0) translateY(0);
  }
}

.fade-left {
  opacity: 0;
  animation: fadeleft 0.3s forwards ease;
}
@keyframes fadeleft {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0) translateY(0);
  }
}

.scale-in {
  animation: scaleIn var(--scale-speed) forwards ease;
}

/*    ANIMATIONS :: END    *//*# sourceMappingURL=index.css.map */